.navi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: rgb(222, 56, 56);
}

h1 {
  font-family: 'Comfortaa', cursive;
  justify-self: center;
  align-self: center;
}
