.navi {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  background-color: #03a9f4;
}

.ghibli-logo {
  color: white;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  text-transform: uppercase;
  color: black;
  justify-self: center;
  align-self: flex-end;
}
