.movie-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;  
  scroll-behavior: smooth;
}

.movie__container--figure {
  margin: 0 10px;
  margin-top:20px;
}

.movie__container--image {
  height: 25rem;
  object-fit: cover;
  width: auto;
}

.movie__container--descriptionbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}