.movie-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;  
  scroll-behavior: smooth;
}

.movie__container--figure {
  margin: 20px 10px;
}

.movie__container--image {
  height: 45vh;
  object-fit: cover;
  width: 200px;
}
