.hidden {
  display: none;
}

html {
  background: black;
}

body {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0, 0) 0%,
    rgba(97, 97, 97, 1) 100%,
    rgba(163, 163, 163, 0) 100%
  );
}

main {
  margin-top: 8rem;
  text-align: center;
  display: grid;
  height: 100%;
}

/* 
Default Font Families
font-family: 'Comfortaa', cursive;
font-family: 'Nanum Gothic', sans-serif; */
